<loading path="./"></loading>
                    <error path="./"></error>
                    <div class="dashboardWelcomeContainer" >
                    <div class="row">
            <div class="col-xs-12">
                <header class="header">
                    <div ng-include="'templates/header.html'" ></div>
                </header>
            </div>
            <div class="col-xs-12">
                
               
                    
        <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="headline">Welcome from the Tech Connection!</p>
                    <p>Let's personalize your experience. Which best describes you?</p>
                </div>
        </div>
        <div class="row">
                <div class="col-xs-3">
                    <div class="welcomeCol" ng-click="goTo('Life Twister')">
                        <p class="circle1">Life Twister</p>
                        <p>You have a path mapped out, but are opened to veering off that path.</p>
                        <p><img src="assets/imgs/welcomelegsimage1.png"/></p>
                        <span class="box1">This is Me!</span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="welcomeCol" ng-click="goTo('Passivist')">
                        <p class="circle2">Passivist</p>
                        <p>You do not have a specific path in life, go whereever life takes you.</p>
                        <p><img src="assets/imgs/welcomelegsimage2.png"/></p>
                        <span class="box2">This is Me!</span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="welcomeCol" ng-click="goTo('Traditionalist')">
                        <p class="circle3">Traditionalist</p>
                        <p>You have a path mapped out and are determined to "stick to it".</p>
                        <p><img src="assets/imgs/welcomelegsimage3.png"/></p>
                        <span class="box1">This is Me!</span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="welcomeCol" ng-click="goTo('Reinventionist')">
                        <p class="circle4">Reinventionist</p>
                        <p>You do not have a specific path in life, you actively seek out ways to reinvent yourself.</p>
                        <p><img src="assets/imgs/welcomelegsimage4.png"/></p>
                        <span class="box1">This is Me!</span>
                    </div>
                </div>      
        </div>
         </div>
                
            </div>
</div>


