<loading path="./"></loading>
                    <error path="./"></error>
                    <div class="dashboardWelcomeContainer" ng-click="goTo()">
                    <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="headline">{{ candidate_fname }} {{ candidate_lname}} you are a {{ personalize }}. Lets create your career plan <span class="box1">Begin</span></p>
                    
                </div>
        </div>
        <div class="row">
                 <div class="col-xs-12">
                     <p><img src="assets/imgs/candidateDashboardTutorials.png" class="img-responsive candidateDashboardTutorialsImage"/>
                     </p>
                    <p class="text-center"><span class="box1">Begin</span></p>
                </div>    
        </div>
</div>


