 <div class="row">
			<div class="col-xs-12 headerLength">
                <header class="header">
                    <div ng-include="'../templates/admin/admin_header.html'"></div>
                </header>
            </div>
            <div class="col-xs-12 wrapper">
                <div class="sidebar">
                    <div ng-include="'../templates/admin/admin_sidebar.html'"></div>
                </div>
                <div class="main">
                    <loading path="../"></loading>
                        <div class="Back">
                               &nbsp;&nbsp;&nbsp; <back></back>
                        </div>
                       
                        <div class="col-xs-12" id="admin_new_post_scope_section">
                            <div class="new-post-box">
                                
                                <div class="modal fade" id="jobPostModal" role="dialog">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ notification.modalTitle }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ notification.modalBody }}</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                                <div ng-show="formValidation" class="error">
                                    {{ formValidation }}
                                </div>
                                <form role="form" name="jobsForm" novalidate>
                                    <div class="form-group">
                                        <label for="email">Job Title</label>
                                        <input 
                                            type="text" 
                                            name="title" 
                                            class="form-control textFieldHalf"
                                            ng-model="jobs.title"
                                            required
                                            >
                                        <span ng-show="jobsForm.title.$error.required" class="colorRed">
                                            Please enter the job title
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Company</label>
                                        <input type="text" 
                                               name="company" 
                                               id="company" 
                                               class="form-control textFieldHalf"
                                               ng-model="jobs.company"
                                               required
                                               >
                                        <span ng-show="jobsForm.company.$error.required" class="colorRed">
                                            Please enter the company
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd" >City</label><br/>
           					<input type="text" 
                                               name="city_selected" 
                                               id="jobs.city" 
                                               class="form-control textFieldHalf"
                                               ng-model="jobs.city"
                                               required
                                               >
                                        <span ng-show="jobsForm.city_selected.$error.required" class="colorRed">
                                            Please enter the city
                                        </span> <br/><br/>
                                        <label for="pwd" >State</label><br/>
           				<select
                                            name="state_selected"
                                            ng-model="jobs.state"
                                            class="form-control newPostSelectDropdown"
                                            ng-options="state.value as state.label for state in state_list"
                                            ng-change="stateSelected()"
                                            required
                                            >
                                            <option value="">Please select a state</option>
                                        </select>
                                        <span ng-show="jobsForm.state_selected.$error.required" class="colorRed">
                                            Please select a state
                                        </span>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="job_descriptions">Job Description</label>
                                        <textarea class="form-control" ng-model="jobs.descriptions" name="descriptions" required></textarea>
                                        <span ng-show="jobsForm.descriptions.$error.required" class="colorRed">
                                            Please enter job description
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Job Responsibilities</label>
                                        <textarea class="form-control" ng-model="jobs.responsibilities" name="responsibilities" required></textarea>
                                        <span ng-show="jobsForm.responsibilities.$error.required" class="colorRed">
                                            Please enter job responsibilities
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Required Education</label>
                                        <textarea class="form-control" ng-model="jobs.education" name="education" required></textarea>
                                        <span ng-show="jobsForm.education.$error.required" class="colorRed">
                                            Please enter required education
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Desired Skills/Qualities</label>
                                        <textarea class="form-control" ng-model="jobs.skills" name="skills" required></textarea>
                                        <span ng-show="jobsForm.skills.$error.required" class="colorRed">
                                            Please enter desired skills
                                        </span>
                                    </div>
                                    <div class="text-center">
                                    <button type="button" class="btn btn-primary-blue" ng-click="postJob(jobsForm, editjobid)">Save</button>
                                    <button type="button" class="btn btn-primary-blue" ng-click="showList()"> Cancel </button>   
                                    </div>
                                    <button type="button" class="btn btn-primary-blue new-post-saveButton borderNone" ng-click="postJob(jobsForm, editjobid)"> Save </button>
                                   <!-- <button type="button" class="btn btn-danger new-post-deleteButton borderNone">Delete</button> -->
                                    
                                </form>
                            </div>
                            
                            
                        </div>
                        
                </div>
            </div>
        </div>  





