                        <loading></loading>
                        <div class="Back">
                               &nbsp;&nbsp;&nbsp; <back></back>
                        </div>
                       
                        <div class="col-xs-12" id="admin_new_post_scope_section">
                            <div class="new-post-box">
                                
                                <div class="modal fade" id="jobPostModal" role="dialog">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">{{ notification.modalTitle }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ notification.modalBody }}</p>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        